<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Password Generator</title>
  <link href="/stylesheets/bootstrap.min.css" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
  <script src="https://kit.fontawesome.com/bfc7d274ad.js" crossorigin="anonymous"></script>
  <style>
    @import url('https://fonts.googleapis.com/css2?family=Fira+Sans&family=Noto+Serif+TC:wght@600&display=swap');
  </style>

</head>

<body>
  {{{body}}}

</body>

</html>