<div class="container mt-5">
  <nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand"><i class="fa-solid fa-heart fa-flip"></i> 隨機密碼產生器 <i
          class="fa-solid fa-heart fa-flip"></i></a>
    </div>
  </nav>

  <form action="/" method="post" class="form">
    <hr>
    <div class="mb-3">
      <h5>選擇你的需求！</h5>
    </div>
    <div class="label mb-3">
      <label for="length" class="space form-label">密碼長度</label>
      <div class="have_small">
        <input type="number" name="length" id="length" min="4" max="16" value="{{option.length}}">
        <small class="small">介在4-16個字元之間</small>
      </div>
    </div>

    <div class="label mb-3">
      <label for="uppercase" class="form-label">包含大寫英文</label>
      <div>
        <input type="checkbox" name="uppercase" id="uppercase" {{#if option.uppercase}}checked{{/if}}> (e.g. ABCDE)
      </div>
    </div>

    <div class="label mb-3">
      <label for="lowercase" class="form-label">包含小寫英文</label>
      <div>
        <input type="checkbox" name="lowercase" id="lowercase" {{#if option.lowercase}}checked{{/if}}> (e.g. abcde)
      </div>
    </div>

    <div class="label mb-3">
      <label for="number" class="form-label">包含數字</label>
      <div>
        <input type="checkbox" name="number" id="number" {{#if option.number}}checked{{/if}}> (e.g. 12345)
      </div>
    </div>

    <div class="label mb-3">
      <label for="symbol" class="form-label">包含符號</label>
      <div>
        <input type="checkbox" name="symbol" id="symbol" {{#if option.symbol}}checked{{/if}}> (e.g. @#$%^)
      </div>
    </div>

    <div class="label mb-3">
      <label for="exclude" class="form-label">排除字元</label>
      <div class="have-small">
        <input type="text" name="exclude" id="exclude" value="{{option.exclude}}">
        <small class="small">這些字元將不會出現在密碼中</small>
      </div>
    </div>

    <div class="submit-botton mb-3">
      <button type="submit" class="submit btn btn-outline-dark">產生密碼 <i
          class="fa-solid fa-arrow-right-from-bracket"></i></button>
    </div>

  </form>

  {{#if password}}
  <div class="result mb-3">
    <div class="password mb-3">
      <h5>你的密碼是: <code id="code">{{password}}</code></h5>
    </div>
    <div class="copy-home mb-3">
      <button class="button btn btn-outline-dark" type="button" onclick="copy()">複製
        <span class="material-symbols-outlined">
          <i class="fa-solid fa-copy"></i>
        </span>
      </button>

      <button class="button btn btn-outline-dark" type="button"><a href="http://localhost:3000/home"
          class="back-home">回到首頁 <i class="fa-solid fa-house"></i></a></button>
    </div>
  </div>
  {{/if}}


</div>

<script>
  const submitBtn = document.querySelector('.submit')
  const form = document.querySelector('.form')
  const length_Input = document.querySelector('#length')
  const small = document.querySelector('.small');

  submitBtn.addEventListener('click', function (event) {
    if (length_Input.classList.contains('small_red')) {
      return
    }
    form.submit();
  })

  length_Input.addEventListener('keyup', function (e) {
    const length = parseInt(length_Input.value);
    if (length < 4 || length > 16) {
      small.classList.add('small_red');
      small.classList.remove('small_green')
    } else if (length_Input.value.length === 0) {
      small.classList.remove('small_red', 'small_green');
    } else {
      small.classList.add('small_green');
      small.classList.remove('small_red');
    }
  });
</script>
<script>
  function copy() {
    const copyText = document.getElementById("code");
    const aux = document.createElement("input");
    // 设置文本输入框的值为要复制的链接
    aux.setAttribute("value", copyText.textContent);
    // 将文本输入框添加到文档中
    document.body.appendChild(aux);
    // 选中文本输入框中的内容
    aux.select();
    // 执行复制命令
    document.execCommand("copy");
    // 移除辅助的文本输入框
    document.body.removeChild(aux);
  }
</script>