<form action="/" method="post" class="form">
  <div class="title">Choose your specification</div>
  <hr>
  <div class="label">
    <label for="length" class="space">Password Length</label>
    <div class="have_small">
      <input type="number" name="length" id="length" min="4" max="16" value="{{option.length}}">
      <small class="small">Length is availabe between 4 ~ 16</small>
    </div>
  </div>

  <div class="label">
    <label for="uppercase">Include Uppercases Characters</label>
    <div>
      <input type="checkbox" name="uppercase" id="uppercase" {{#if option.uppercase}}checked{{/if}}> (e.g. ABCDE)
    </div>
  </div>

  <div class="label">
    <label for="lowercase">Include Lowercases Characters</label>
    <div>
      <input type="checkbox" name="lowercase" id="lowercase" {{#if option.lowercase}}checked{{/if}}> (e.g. abcde)
    </div>
  </div>

  <div class="label">
    <label for="number">Include Numbers</label>
    <div>
      <input type="checkbox" name="number" id="number" {{#if option.number}}checked{{/if}}> (e.g. 12345)
    </div>
  </div>

  <div class="label">
    <label for="symbol">Include Symbols</label>
    <div>
      <input type="checkbox" name="symbol" id="symbol" {{#if option.symbol}}checked{{/if}}> (e.g. @#$%^)
    </div>
  </div>

  <div class="label">
    <label for="exclude">Exclude Characters</label>
    <div class="have_small">
      <input type="text" name="exclude" id="exclude" value="{{option.exclude}}">
      <small class="small">This characters will not appear in the password</small>
    </div>
  </div>

  {{#if password}}
  <div class="password">
    <div>
      Your Password: <code id="code">{{password}}</code>
    </div>
    <button class="button" type="button" onclick="copy()">Copy
      <span class="material-symbols-outlined">
        content_copy
      </span>
    </button>
  </div>
  {{/if}}

</form>
<button type="submit" class="submit">Generate Password</button>

<script>
  const submitBtn = document.querySelector('.submit')
  const form = document.querySelector('.form')
  const length_Input = document.querySelector('#length')
  const small = document.querySelector('.small');

  submitBtn.addEventListener('click', function (event) {
    if (length_Input.classList.contains('small_red')) {
      return
    }
    form.submit();
  })

  length_Input.addEventListener('keyup', function (e) {
    const length = parseInt(length_Input.value);
    if (length < 4 || length > 16) {
      small.classList.add('small_red');
      small.classList.remove('small_green')
    } else if (length_Input.value.length === 0) {
      small.classList.remove('small_red', 'small_green');
    } else {
      small.classList.add('small_green');
      small.classList.remove('small_red');
    }
  });
</script>
<script>
  function copy() {
    const copyText = document.getElementById("code");
    const aux = document.createElement("input");
    // 设置文本输入框的值为要复制的链接
    aux.setAttribute("value", copyText.textContent);
    // 将文本输入框添加到文档中
    document.body.appendChild(aux);
    // 选中文本输入框中的内容
    aux.select();
    // 执行复制命令
    document.execCommand("copy");
    // 移除辅助的文本输入框
    document.body.removeChild(aux);
  }
</script>